<template>
  <h1>Dishes</h1>
  <q-btn @click="getDishesList">
    get-socket
  </q-btn>
</template>

<script setup>
import { onMounted } from 'vue'
import { useSocketStore } from 'stores/socket-store'

const socketStore = useSocketStore()
const getDishesList = socketStore.getDishesList()
onMounted(() => {
  socketStore.getDishesList()
})
</script>
